*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
libs/
src/main/res/drawable/
/app/build/
/.gradle/
app/libs/
app/src/main/res/drawable/
igram/libs/
igram/src/main/res/drawable/
/gradle/
/build/
/igram/build/
/.idea/
