*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
src/main/res/drawable/
/app/build/
/.gradle/
app/libs/
app/src/main/res/drawable/
igram/libs/
igram/src/main/res/drawable/
/gradle/
/build/
/app/app.iml
/igram/build/
/.idea/
